<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Community.</h2>
                <hr class="light">
                <p class="text-faded">The Cyber Desktop is a Desktop Environment written in Qt Quick. Originally based on Arch, it has been ported to various platforms and architectures.</p>
                <p class="text-faded">Featuring its own fork of MauiKit, MeuiKit. Cyber was created by developer Reion Wong (who later forked the project as Cutefish) and now currently maintained by Polish developer Omame.</p>
                <a href="https://gitlab.ultramarine-linux.org/release-engineering/build-scripts/-/releases" class="btn btn-default btn-xl">See Releases</a>
            </div>
        </div>
    </div>
</section>
