<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('/img/assets/cyber-1.png')">
    <div class="header-content" >
        <div class="header-content-inner">
            <h1>Cyber Desktop</h1>
            <hr>
            <p style="color: white;">By the Community, for the Community.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">More...</a>
        </div>
    </div>
</header>