<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Cute as the name says</h2>
                <hr class="light">
                <p class="text-faded">Cutefish Desktop is the fork of the earlier <a href="/desktops/cyber">Cyber Desktop</a> by its disgraced founder Reion Wong in their plans to relocate to China.</p>
                <p class="text-faded">Focused on simplicity, beauty and practicality, Cutefish delivers a beautiful mac-like experience.</p>
                <a href="https://gitlab.ultramarine-linux.org/release-engineering/build-scripts/-/releases" class="btn btn-default btn-xl">See Releases</a>
            </div>
        </div>
    </div>
</section>
