  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Pick your Desktop!</h2>
              <a href="/desktops" class="btn btn-default btn-xl wow">Desktops</a>
          </div>
      </div>
  </aside>
