<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">An Exotic experience.</h2>
                <hr class="light">
                <p class="text-faded">Ultramarine Linux is an experimental remix of Fedora focused on porting and promoting exotic Desktops and shells and giving them a user-friendly makeover!</p>
                <p class="text-faded">The Project started as an effort to port the Cyber and Cutefish Desktop to Fedora, but has turned into a full-fledged UX-Focused Fedora Remix.</p>
                <a href="https://gitlab.ultramarine-linux.org/release-engineering/build-scripts/-/releases" class="btn btn-default btn-xl">See Releases</a>
            </div>
        </div>
    </div>
</section>
