<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Get In Touch!</h2>
                <hr class="primary">
                <p>Want to help us? Check out these links below!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fab fa-twitter fa-3x"></i>
                <p>Twitter</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://discord.gg/bUuQasHdrF">
            <i class="fab fa-discord fa-3x"></i>
                <p>Discord</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://gitlab.ultramarine-linux.org/">
            <i class="fab fa-gitlab fa-3x"></i>
                <p>GitLab</p>
            </a>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Sponsored by:</h2>
    <p style="text-align:center";"><a href="https://dash-cloud.com"><img src="https://dash-cloud.com/assets/img/brand.png" /></a></p>
    <p style="text-align:center";"><a href="https://webhorizon.in"><img src="https://lt.moebox.pl/webhorizon.png" /></a></p>
    </div>
</section>
