<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-fedora  text-primary" data-wow-delay=.3s""></i>
                    <h3>Based on Fedora</h3>
                    <p class="text-muted">Completely based on Fedora, with all the perks that come with it.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="far fa-4x fa-check-circle  text-primary" data-wow-delay=.3s></i>
                    <h3>User Friendly</h3>
                    <p class="text-muted">Just download the ISO and flash it to your USB or burn it on a disc! The system will guide you from there and give you everything you'll need!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o  text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">Updates are as fast as Fedora will get! Experience the latest and greatest packages the community has to offer!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart  text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">Made with love from the community.</p>
                </div>
            </div>
        </div>
    </div>
</section>
