<header style="background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url('/img/header.jpg')">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ultramarine Linux</h1>
            <hr>
            <p>An exotic desktop experience.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">More...</a>
        </div>
    </div>
</header>
