<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background: rgba(black, 0.5);">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">
            <img src="/svgs/logo.svg" alt="Ultramarine Linux" style="padding-bottom: 0%; margin-top: -15%; margin-left: auto;" class="navbar-brand page-scroll" href="/" font="Montserrat"></img>
            <a class="navbar-brand page-scroll" style="margin: -5%; padding-top: 14%; text-transform: unset; font-family: Montserrat Alternates;" href="/">Ultramarine</a>
            </a>
    </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#features">Features</a>
                </li>
                <li>
                    <a class="page-scroll" href="/desktops">Editions</a>
                </li>
                <li>
                    <a class="page-scroll" href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
