<section class="container-fluid" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="/desktops/cyber" class="portfolio-box">
                    <img src="/img/assets/cyber-1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">

                            <div class="project-name">
                                Cyber Desktop
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/desktops/cutefish" class="portfolio-box">
                    <img src="/img/assets/cutefish-1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Cutefish Desktop
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="/desktops/budgie" class="portfolio-box">
                    <img src="/img/assets/budgie-1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Budgie Desktop
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
