@import "tailwindcss";
@config "../../tailwind.config.cjs";
@layer (utilities);

@theme inline {
  --font-sans: var(--font-switzer);
}

:root {
  interpolate-size: allow-keywords;
}

html {
  scroll-behavior: smooth;
  color-scheme: dark;
}

* {
 text-autospace: normal;
}

blockquote {
  text-indent: -0.45em;

  &::before {
    content: open-quote;
    color: gray;
  }
  &::after {
    content: close-quote;
    color: gray;
  }
}

@​supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}
