@import "tailwindcss";
@config "../../tailwind.config.cjs";
@layer (utilities);

@custom-variant cjk (&:where([lang="zh_HK"] *),&:where([lang="zh_Hant"] *),&:where([lang="ja"] *));

@theme inline {
  --font-sans: var(--font-switzer) var(--font-jp) var(--font-hk) var(--font-tw) var(--font-cn);
}

:root {
  interpolate-size: allow-keywords;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  color-scheme: dark;
}

* {
  text-autospace: normal;
}

blockquote {
  text-indent: -0.45em;

  &::before {
    content: open-quote;
    color: gray;
  }
  &::after {
    content: close-quote;
    color: gray;
  }
}

@​supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}
