@import url("https://api.fontshare.com/css?f[]=switzer@300,400,500,600,700&display=swap");

html {
  scroll-behavior: smooth;
  color-scheme: dark;
  font-family: "Switzer", sans-serif;
}

blockquote {
  text-indent: -0.45em;

  &::before {
    content: open-quote;
    color: gray;
  }
  &::after {
    content: close-quote;
    color: gray;
  }
}

@​supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}
