---
import { makeT } from "../../i18n";
import Trans from "../Trans";

const t = makeT(Astro.params.lang);
---

<div class="bg-[#0f1120]">
  <div>
    <!-- TODO: change this to something different maybe -->
    <div class="">
      <div class="max-w-(--breakpoint-2xl) mx-auto px-8 md:px-16">
        <h2 class="text-2xl md:text-4xl font-bold py-10 text-center">
          {t("comments.loved")}
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-8">
          <a
            href="https://www.zdnet.com/article/ultramarine-linux-flagship-is-a-contender-for-desktop-of-the-year/"
            class="flex flex-col justify-between items-start bg-gray-200 dark:bg-gray-900 py-8 px-12 rounded-xl border border-gray-800"
            target="_blank"
            rel="noopener noreferrer"
          >
            <blockquote
              class="lg:text-lg"
              cite="https://www.zdnet.com/article/ultramarine-linux-flagship-is-a-contender-for-desktop-of-the-year/"
            >
              {t("comments.1")}
            </blockquote>
            <p class="pt-4 text-gray-400">{t("comments.1a")}</p>
          </a>
          <a
            href="https://news.itsfoss.com/ultramarine-linux-40-release/"
            class="flex flex-col justify-between items-start bg-gray-200 dark:bg-gray-900 py-8 px-12 rounded-xl border border-gray-800"
            target="_blank"
            rel="noopener noreferrer"
          >
            <blockquote
              class="lg:text-lg"
              cite="https://news.itsfoss.com/ultramarine-linux-40-release/"
            >
              {t("comments.2")}
            </blockquote>
            <p class="pt-4 text-gray-400">{t("comments.2a")}</p>
          </a>
          <a
            href="https://youtu.be/N7pfVVAc7NY?si=pXzxvIP-hsmz8YP-"
            class="flex flex-col justify-between items-start bg-gray-200 dark:bg-gray-900 py-8 px-12 rounded-xl border border-gray-800"
            target="_blank"
            rel="noopener noreferrer"
          >
            <blockquote
              class="lg:text-lg"
              cite="https://www.youtube.com/watch?v=AX7fgbjkGY4"
            >
              {t("comments.3")}
            </blockquote>
            <p class="pt-4 text-gray-400">{t("comments.3a")}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="py-24">
      <div class="max-w-(--breakpoint-2xl) mx-auto px-8 md:px-16">
        <h2 class="text-2xl md:text-4xl font-bold mb-10 text-center">
          {t("faq.title")}
        </h2>
        <div
          class="flex flex-col w-full max-w-4xl mx-auto divide-y divide-gray-800 bg-gray-900 border border-gray-800 rounded-xl px-10 py-2 pb-4"
        >
          <details
            class="open:details-content:h-auto details-content:h-0 details-content:overflow-hidden details-content:transition-[height,content-visibility] details-content:transition-discrete"
          >
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >{t("faq.1")}</summary
            >
            <div class="px-4 pb-4">
              <p>
                {t("faq.1a")}
              </p>
            </div>
          </details>
          <details
            class="open:details-content:h-auto details-content:h-0 details-content:overflow-hidden details-content:transition-[height,content-visibility] details-content:transition-discrete"
          >
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >{t("faq.2")}</summary
            >
            <div class="px-4 pb-4">
              <p>{t("faq.2a")}</p><br />
              <p>{t("faq.2b")}</p>
            </div>
          </details>
          <details
            class="open:details-content:h-auto details-content:h-0 details-content:overflow-hidden details-content:transition-[height,content-visibility] details-content:transition-discrete"
          >
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >{t("faq.3")}</summary
            >
            <div class="px-4 pb-4">
              <p>{t("faq.3a")}</p><br />
              <p>{t("faq.3b")}</p>
            </div>
          </details>
          <details
            class="open:details-content:h-auto details-content:h-0 details-content:overflow-hidden details-content:transition-[height,content-visibility] details-content:transition-discrete"
          >
            <summary
              class="pt-6 pb-4 outline-none cursor-pointer text-lg details-content:bg-red-600"
              >{t("faq.4")}</summary
            >
            <div class="px-4 pb-4">
              <p>
                <Trans t={t("faq.4a")}>
                  <a
                    href="https://docs.fedoraproject.org/en-US/infra/sysadmin_guide/dnf-counting/"
                    class="text-accent-300 hover:text-accent-400"></a>
                </Trans>
              </p>
            </div>
          </details>
          <details
            class="open:details-content:h-auto details-content:h-0 details-content:overflow-hidden details-content:transition-[height,content-visibility] details-content:transition-discrete"
          >
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >{t("faq.5")}</summary
            >
            <div class="px-4 pb-4">{t("faq.5a")}</div>
          </details>
          <details
            class="open:details-content:h-auto details-content:h-0 details-content:overflow-hidden details-content:transition-[height,content-visibility] details-content:transition-discrete"
          >
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >{t("faq.6")}</summary
            >
            <div class="px-4 pb-4">
              <p>
                <Trans t={t("faq.6a")}>
                  <a
                    href="https://wiki.ultramarine-linux.org/en/hardware/anywhere/"
                    class="text-accent-300 hover:text-accent-400"></a>
                </Trans>
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>
