---

---

<div class="relative lg:pt-32">
  <div>
    <!-- TODO: change this to something different maybe -->
    <div class="lg:bg-[#0f1120] pb-28 2xl:mt-48">
      <div class="max-w-screen-2xl mx-auto px-8 md:px-16">
        <h2 class="text-2xl md:text-4xl font-bold mt-28 mb-10 text-center">
          Loved by the People
        </h2>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 lg:gap-8">
          <a
            href="https://www.zdnet.com/article/ultramarine-linux-flagship-is-a-contender-for-desktop-of-the-year/"
            class="flex flex-col justify-between items-start bg-gray-200 dark:bg-gray-900 py-8 px-12 rounded-xl border border-gray-800"
          >
            <blockquote
              class="lg:text-lg"
              cite="https://www.zdnet.com/article/ultramarine-linux-flagship-is-a-contender-for-desktop-of-the-year/"
            >
              If you're looking for a new Linux distribution (or a new OS in
              general), I would highly recommend Ultramarine Linux Flagship.
            </blockquote>
            <p class="pt-4 text-gray-400">- Jack Wallen, ZDNet</p>
          </a>
          <a
            href="https://news.itsfoss.com/ultramarine-linux-40-release/"
            class="flex flex-col justify-between items-start bg-gray-200 dark:bg-gray-900 py-8 px-12 rounded-xl border border-gray-800"
          >
            <blockquote
              class="lg:text-lg"
              cite="https://news.itsfoss.com/ultramarine-linux-40-release/"
            >
              Liked by both beginners and veterans, most people find
              [Ultramarine] to be a very reliable daily-driver Linux distro that
              doesn't get in the way.
            </blockquote>
            <p class="pt-4 text-gray-400">- Sourav Rudra, It's FOSS News</p>
          </a>
          <a
            href="https://youtu.be/N7pfVVAc7NY?si=pXzxvIP-hsmz8YP-"
            class="flex flex-col justify-between items-start bg-gray-200 dark:bg-gray-900 py-8 px-12 rounded-xl border border-gray-800"
          >
            <blockquote
              class="lg:text-lg"
              cite="https://www.debugpoint.com/ultramarine-linux-39-review/"
            >
              [Ultramarine] is one of the most complete Linux distros I have had
              the chance to experience.
            </blockquote>
            <p class="pt-4 text-gray-400">- eBuzz Central on YouTube</p>
          </a>
        </div>
      </div>
    </div>
    <div class="bg-[#0f1120] pb-28 pt-32">
      <div class="max-w-screen-2xl mx-auto px-8 md:px-16">
        <h2 class="text-2xl md:text-4xl font-bold mb-10 text-center">
          Frequently Asked Questions
        </h2>
        <div
          class="flex flex-col w-full max-w-4xl mx-auto divide-y divide-gray-800 bg-gray-900 border border-gray-800 rounded-xl px-10 py-2 pb-4"
        >
          <details>
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >Why does this distro exist? What difference does it have other
              than just Fedora with RPMFusion?</summary
            >
            <div class="px-4 pb-4">
              <p>
                Ultramarine Linux’s primary goal is to create an instantly
                usable experience, while keeping up with the latest in Linux
                desktop innovations. We take what's great about Fedora, and
                build on it to create an experience that anyone can use,
                anywhere.
              </p>
            </div>
          </details>
          <details>
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >What does the migration script do?</summary
            >
            <div class="px-4 pb-4">
              <p>
                The migration scripts install RPMFusion, Terra repository, and
                our signing keys, then installs the bare minimum of an
                Ultramarine Linux installation (Swapping Fedora release packages
                with the Ultramarine ones). <br /><br />

                The script only installs the bare minimum required for
                Ultramarine Linux to work because we don’t want to add
                additional bloat to your current system.
              </p>
            </div>
          </details>
          <details>
            <summary
              class="pt-6 pb-4 outline-none cursor-pointer text-lg details-content:bg-red-600"
              >Does Ultramarine track me or collect my data?</summary
            >
            <div class="px-4 pb-4">
              <p>
                As of now, the only data we collect is a count of how many times
                a package has been downloaded from Terra or the Ultramarine
                repository using <a
                  href="https://docs.fedoraproject.org/en-US/infra/sysadmin_guide/dnf-counting/"
                  class="text-accent-300 hover:text-accent-400">DNF Counting</a
                >. This information is not tied to you or your computer. Fyra
                Labs (the company behind Ultramarine) does not collect any data
                that can be tied to an individual.
              </p>
            </div>
          </details>
          <details>
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >Is Ultramarine semi-rolling?</summary
            >
            <div class="px-4 pb-4">
              No. Ultramarine and Fedora are not semi-rolling or rolling. They
              use a stable release scheme. Updates with breaking changes are
              rolled out with only major releases. Minor updates/point updates
              must be backwards-compatible, i.e. system components in
              Ultramarine are updated if and only if they do not break
              compatibility.
            </div>
          </details>
          <details>
            <summary class="pt-6 pb-4 outline-none cursor-pointer text-lg"
              >Does Ultramarine run on my device?</summary
            >
            <div class="px-4 pb-4">
              <p>
                If your're using a standard PC, yes. Otherwise, if your computer
                is 64-bit, check out the
                <a
                  href="https://wiki.ultramarine-linux.org/en/hardware/anywhere/"
                  class="text-accent-300 hover:text-accent-400"
                  >Ultramarine Anywhere page</a
                > for more about non-standard devices.
              </p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>
