---
import { Picture } from "astro:assets";
import { Icon } from "astro-icon/components";

import fyraTeam from "../../assets/fyra_team.svg";
---

<div class="pt-32 relative max-w-screen-2xl mx-auto px-8 md:px-16">
  <h2 class="text-4xl font-bold mt-4">Why Ultramarine?</h2>

  <div
    class="w-full flex flex-col lg:flex-row items-center justify-between mb-24 lg:mb-48 mt-32"
  >
    <div class="lg:w-1/2">
      <h3 class="text-2xl font-semibold mb-4">Get to work, faster</h3>
      <p class="text-gray-200 mb-3">
        Ultramarine lets you get started quickly, cutting out many configuration
        steps. With user-centric tweaks and tools out of the box, you’ll be
        ready to go in no time.
      </p>
      <a
        href="/pog"
        class="flex flex-row items-center gap-2 text-accent-200 hover:text-accent-400 transition-colors group"
      >
        <span class="font-medium">Learn more about our tweaks</span>
        <Icon
          name="fluent:arrow-right-16-regular"
          class="size-6 group-hover:translate-x-1 transition-transform duration-300"
        />
      </a>
    </div>
    <Picture
      class="hidden lg:block mt-8 lg:mt-0 lg:w-[466px] lg:h-[260px]"
      src={"https://picsum.photos/932/520"}
      width={466}
      height={260}
      formats={["avif", "webp"]}
      quality={80}
      alt="fyra team image"
    />
  </div>

  <div
    class="w-full flex flex-col lg:flex-row-reverse items-center justify-between mb-24 lg:mb-48"
  >
    <div class="lg:w-1/2 lg:text-right">
      <h3 class="text-2xl font-semibold mb-4">Your current computer, better</h3>
      <p class="text-gray-200 mb-3">
        Ultramarine builds an easier experience for a wider range of hardware,
        from standard PCs to Chromebooks and SBCs. Ultramarine meets you where
        you’re at, without arbitrary limits.
      </p>
      <a
        href="/pog"
        class="flex flex-row items-center lg:justify-end gap-2 text-accent-200 hover:text-accent-400 transition-colors group"
      >
        <span class="font-medium">Learn more about the Anywhere Initiative</span
        >
        <Icon
          name="fluent:arrow-right-16-regular"
          class="size-6 group-hover:translate-x-1 transition-transform duration-300"
        />
      </a>
    </div>
    <Picture
      class="hidden lg:block lg:w-[466px] lg:h-[260px] mt-8 lg:mt-0"
      src={"https://picsum.photos/932/520"}
      width={466}
      height={260}
      formats={["avif", "webp"]}
      quality={80}
      alt="fyra team image"
    />
  </div>

  <div
    class="w-full flex flex-col lg:flex-row items-center justify-between mb-24 lg:mb-48"
  >
    <div class="lg:w-1/2">
      <h3 class="text-2xl font-semibold mb-4">New tech, sooner</h3>
      <p class="text-gray-200 mb-3">
        Ultramarine gets the latest and greatest tech quicker. From packages and
        the user experience, to the build toolchain, Ultramarine is ready for
        today’s world, and tomorrow’s.
      </p>
      <a
        href="/pog"
        class="flex flex-row items-center gap-2 text-accent-200 hover:text-accent-400 transition-colors group"
      >
        <span class="font-medium">Learn more about our stack</span>
        <Icon
          name="fluent:arrow-right-16-regular"
          class="size-6 group-hover:translate-x-1 transition-transform duration-300"
        />
      </a>
    </div>
    <Picture
      class="hidden lg:block lg:w-[466px] lg:h-[260px] mt-8 lg:mt-0"
      src={"https://picsum.photos/932/520"}
      width={466}
      height={260}
      formats={["avif", "webp"]}
      quality={80}
      alt="fyra team image"
    />
  </div>
</div>
