---
import { Picture } from "astro:assets";
import ArrowRight from "~icons/fluent/arrow-right-16-regular";

import fyraTeam from "../../assets/fyra_team.svg";
import CommitCard from "../CommitCard.astro";
import Link from "../Link.astro";
import currentComputerImage from "../../assets/42/marketing/current-computer.webp";
import workImage from "../../assets/42/marketing/work.webp";
---

<div class="relative max-w-(--breakpoint-2xl) mx-auto px-8 md:px-16">
  <h2 class="text-4xl font-bold mt-4 mb-12">Why Ultramarine?</h2>

  <div
    class="w-full flex flex-col-reverse lg:flex-row items-center justify-between mb-24 gap-4"
  >
    <div class="lg:w-1/2">
      <h3 class="text-2xl font-semibold mb-4">Get to work, faster</h3>
      <p class="text-gray-200 mb-3">
        Ultramarine enables you get started quickly, cutting out many configuration
        steps. With user-centric tweaks and tools out of the box, you’ll be
        ready to go in no time.
      </p>
      <p class="text-gray-200 mb-3">
Be relieved to know that the pain points of Fedora — <b>codecs</b>, <b>drivers</b>, and <b>multilingual support</b>, are beautifully handled via our <Link href="https://github.com/Ultramarine-Linux/taidan">in-house out-of-box experience app</Link>.
      </p>
      <Link href="https://wiki.ultramarine-linux.org/en/release/diff-fedora/" arrow className="flex flex-row">
        <span class="font-medium">Learn more about our tweaks</span>
      </Link>
    </div>
    <Picture
      class="lg:w-[466px] rounded-lg"
      layout="constrained"
      src={workImage}
      formats={["avif", "webp"]}
      alt="Screenshot of an Ultramarine GNOME system using Libreoffice"
      loading="eager"
    />
  </div>

  <div
    class="w-full flex flex-col-reverse lg:flex-row-reverse items-center justify-between mb-24 gap-4"
  >
    <div class="lg:w-1/2 lg:text-right">
      <h3 class="text-2xl font-semibold mb-4">Your current computer, better</h3>
      <p class="text-gray-200 mb-3">
        Ultramarine builds an easier experience for a wider range of hardware,
        from standard PCs to Chromebooks and SBCs. Ultramarine meets you where
        you’re at, without arbitrary limits.
      </p>
      <Link href="https://wiki.ultramarine-linux.org/en/anywhere/anywhere/" arrow className="flex flex-row items-center lg:justify-end gap-2">
        <span class="font-medium">Learn more about the Anywhere Initiative</span>
      </Link>
    </div>
    <Picture
      class="lg:w-[466px] rounded-lg"
      layout="constrained"
      src={currentComputerImage}
      formats={["avif", "webp"]}
      alt="Screenshot of an Ultramarine GNOME system with the system monitor and fastfetch showing"
    />
  </div>

  <div
    class="w-full flex flex-col-reverse lg:flex-row items-center justify-between gap-4 mb-24"
  >
    <div class="lg:w-1/2">
      <h3 class="text-2xl font-semibold mb-4">New tech, sooner</h3>
      <p class="text-gray-200 mb-3">
        Ultramarine gets the latest and greatest tech quicker. From packages and
        the user experience, to the build toolchain, Ultramarine is ready for
        today’s world, and tomorrow’s.
      </p>
      <Link href="https://developer.fyralabs.com" arrow className="flex flex-row">
        <span class="font-medium">Learn more about our stack</span>
      </Link>
    </div>
    <div class="flex flex-col gap-2 w-full lg:w-1/2 lg:max-w-[466px]">
      <CommitCard
        url={"https://github.com/Ultramarine-Linux/bootc/commit/7d2024a288f47b4a2f175825aa6620c5dd6e2a60"}
      />
      <CommitCard
        url={"https://github.com/FyraLabs/readymade/commit/cba410be4f3299cb457b6d4716d8e130c0b0122d"}
      />
      <CommitCard
        url={"https://github.com/Ultramarine-Linux/images/commit/82c0f337619ba9c8f6622d4e6176f9af6e971e17"}
      />
    </div>
  </div>
</div>
