@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&display=swap");

.font-montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.font-montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}
