---
import DownloadSection from "../components/DownloadSection.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import flagshipScreenshot from "../assets/40/screenshots/flagship.png";
import gnomeScreenshot from "../assets/40/screenshots/GNOME.png";
import xfceScreenshot from "../assets/40/screenshots/xfce.png";
import kdeScreenshot from "../assets/40/screenshots/kde.png";
---

<BaseLayout>

  <div
    class="flex flex-col items-start min-h-screen max-w-screen-xl mx-auto px-8 md:px-16 mt-12"
  >
    <h1 class="text-4xl font-bold">Pick Your Flavor of Ultramarine</h1>
    <h2 class="pt-1 text-gray-500">Latest Release: 40 (Lost Umbrella)</h2>

    <div class="flex flex-col items-center justify-center gap-10 mt-8 mb-48 w-full">
      <DownloadSection
        editionName="Flagship"
        screenshot={flagshipScreenshot}
        background="/umbrella_bg.webp"
        downloadLink="https://github.com/ultramarine-linux/ultramarine-iso/releases/download/40/ultramarine-40-flagship-x86_64.iso"
        description="The flagship edition of Ultramarine Linux, featuring GNOME as the default desktop environment."
      />

      <DownloadSection
        editionName="GNOME"
        screenshot={gnomeScreenshot}
        description="GNOME is a simple, elegant, and intuitive desktop environment with a focus on productivity."
        downloadLink="https://images.fyralabs.com/isos/ultramarine/40/ultramarine-gnome-40-live-x86_64.iso"
      />

      <DownloadSection
        editionName="XFCE"
        screenshot={xfceScreenshot}
        description="Xfce is a lightweight but elegant desktop designed to help you squeeze the most out of your device, or revive an old one."
        downloadLink="https://images.fyralabs.com/isos/ultramarine/40/ultramarine-xfce-40-live-x86_64.iso"
      />

      <DownloadSection
        editionName="KDE Plasma"
        screenshot={kdeScreenshot}
        description="The good old familiar KDE Plasma Desktop Environment --- simple by default, powerful when needed."
        downloadLink="https://images.fyralabs.com/isos/ultramarine/40/ultramarine-kde-40-live-x86_64.iso"
      />
    </div>
  </div>
</BaseLayout>
