---
import BaseLayout from "../layouts/BaseLayout.astro";

import Hero from "../components/sections/Hero.astro";
import WhyUltramarine from "../components/sections/WhyUltramarine.astro";
import TestimonialsAndFAQs from "../components/sections/TestimonialsAndFAQs.astro";
import FedoraMigrationScriptDialog from "../components/sections/FedoraMigrationScriptDialog.astro";

import DownloadIcon from "../components/icons/DownloadIcon.astro";
---

<BaseLayout>
  <div class="flex flex-col">
    <div>
      <Hero />

      <div class="absolute w-full self-center hidden md:block">
        <div class="wavyDivider1"></div>
      </div>

      <WhyUltramarine />

      <div class="absolute w-full self-center hidden lg:block">
        <div class="umDivider1"></div>
      </div>

      <TestimonialsAndFAQs />

      <div
        class="relative py-48 max-w-screen-2xl mx-auto px-8 md:px-16 overflow-x-hidden"
      >
        <div class="flex flex-col items-center relative z-10">
          <h1 class="text-center font-bold text-2xl md:text-4xl mb-6">
            Ready to do your thing?
          </h1>
          <a
            href="/download"
            class="flex flex-row gap-2 items-center text-white font-medium text-xl py-2 px-6 rounded-xl bg-accent-600 hover:bg-accent-700 transition-colors"
          >
            <DownloadIcon />
            Get Ultramarine
          </a>
          <FedoraMigrationScriptDialog />
        </div>
        <div
          class="absolute inset-0 flex items-center justify-center opacity-50 mb-20"
        >
          <div
            class="absolute bottom-24 left-80 w-[350px] h-[200px] rotate-30 bg-blue-600 rounded-full filter blur-3xl opacity-50 mix-blend-multiply animate-blob"
          >
          </div>
          <div
            class="absolute bottom-12 right-96 w-[300px] h-[210px] -rotate-40 bg-blue-500 rounded-full filter blur-3xl opacity-40 mix-blend-multiply animate-blob2 animation-delay-2000"
          >
          </div>
          <div
            class="absolute top-48 w-[450px] h-[220px] bg-teal-500 rounded-full filter blur-3xl opacity-60 mix-blend-multiply animate-blob3 animation-delay-4000"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style>
  iframe {
    aspect-ratio: 16/9;
    width: 95%;
  }

  .wavyDivider1 {
    width: 100%;
    background-image: url(/divider_1.svg);
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: calc(100% * 10 / 32);
  }

  .umDivider1 {
    width: 100%;
    background-image: url(/divider_2.svg);
    background-size: cover;
    height: 0;
    padding: 0; /* reset */
    padding-bottom: calc((100% * 10 / 22) + 600px);
  }

  .mouse {
    width: 30px;
    height: 50px;
    border: 3px solid #cccccc;
    border-radius: 60px;
    position: relative;
  }

  .mouse::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #cccccc;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }

  @keyframes wheel {
    to {
      opacity: 0;
      top: 30px;
    }
  }

  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 30px;
    }
  }

  .pb-1\.5 {
    padding-bottom: 8px;
  }
</style>

<script is:inline>
  function copyEvent(id) {
    var str = document.getElementById(id);
    window.getSelection().selectAllChildren(str);
    document.execCommand("Copy");
  }

  const dialog = document.querySelector("dialog");
  const showButton = document.getElementById("migrationscript");
  const closeButton = document.querySelector("dialog button");

  // "Show the dialog" button opens the dialog modally
  showButton.addEventListener("click", () => {
    dialog.showModal();
  });

  // "Close" button closes the dialog
  closeButton.addEventListener("click", () => {
    dialog.close();
  });
</script>
