---
import BaseLayout from "../layouts/BaseLayout.astro";
import { defaultLang, makeT } from "../i18n.ts";
const t = makeT(Astro.params.lang ?? defaultLang);
---

<BaseLayout>
  <div
    class="flex flex-col items-start max-w-(--breakpoint-2xl) mx-auto px-8 md:px-16 mt-12"
  >
    <h1 class="text-4xl font-bold mb-4">{t("licenses.title")}</h1>
    <h2 class="mb-8 text-left">
      {t("licenses.credits")}
    </h2>
    <h3 class="text-2xl font-semibold mb-4">{t("licenses.libraries")}</h3>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8 w-full">
      <li class="p-4 bg-gray-200 dark:bg-gray-800 rounded-md shadow-lg">
        <h3 class="text-lg font-bold">Astro</h3>
        <p>© 2021 Fred K. Schott</p>
        <p>Licensed under the MIT license.</p>
      </li>
      <li class="p-4 bg-gray-200 dark:bg-gray-800 rounded-md shadow-lg">
        <h3 class="text-lg font-bold">Tailwind CSS</h3>
        <p>© Tailwind Labs, Inc.</p>
        <p>Licensed under the MIT license.</p>
      </li>
      <li class="p-4 bg-gray-200 dark:bg-gray-800 rounded-md shadow-lg">
        <h3 class="text-lg font-bold">TypeScript</h3>
        <p>© Microsoft Corporation</p>
        <p>Licensed under the Apache License 2.0.</p>
      </li>
    </ul>
    <h3 class="text-2xl font-semibold mb-4">{t("licenses.trademarks")}</h3>
    <ul class="mb-4 text-left">
      <li class="mb-2">
        Linux® is the registered trademark of Linus Torvalds in the U.S. and
        other countries.
      </li>
      <li>
        Fedora® and the Infinity design logo are trademarks of Red Hat, Inc. in
        the U.S. and elsewhere.
      </li>
    </ul>
  </div>
</BaseLayout>
