---
import BackMenu from "../components/BackMenu.vue";
import DownloadSectionNew from "../components/DownloadSectionNew.vue";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout>
    <div class="min-h-screen text-gray-900 bg-gray-100 dark:text-gray-200 dark:bg-gray-900">
      <div
        class="flex flex-col min-h-screen p-2 md:px-12 text-gray-900 bg-gray-100 place-content-center md:items-center dark:bg-gray-900 dark:text-gray-100">
        <BackMenu targetLink="/download" target="Downloads"></BackMenu>
        <h1 class="text-4xl font-bold">ARM Builds</h1>
        <h2 class="pt-1 text-gray-400">You can find ARM (aarch64) builds of Ultramarine Linux 37 here.</h2>
        <div class="mb-8">
          <div class="grid grid-flow-row-dense grid-cols-1 gap-10 pt-12 md:grid-cols-2 md:flex-row">
            <DownloadSectionNew editionName="Flagship" screenshot="../flagship-legacy.png"
              description="The flagship edition with the latest and greatest software and our best polish. Powered by Solus' Budgie Desktop. (Recommended)"
              downloadLink="https://images.fyralabs.com/isos/ultramarine/37/ultramarine-flagship-aarch64-20230106.iso" />

            <DownloadSectionNew editionName="GNOME" screenshot="../GNOME-legacy.png"
              description="GNOME is a simple, elegant, and intuitive desktop environment with a focus on productivity."
              downloadLink="https://images.fyralabs.com/isos/ultramarine/37/ultramarine-gnome-aarch64-20230106.iso" />

            <DownloadSectionNew editionName="Pantheon" screenshot="../pantheon-legacy.png"
              description="The default desktop of elementary OS focused on elegance and visual appeal."
              downloadLink="https://images.fyralabs.com/isos/ultramarine/37/ultramarine-pantheon-aarch64-20230106.iso"
               />

            <DownloadSectionNew editionName="KDE Plasma" screenshot="../plasma-legacy.png"
              description="KDE spin with a new custom layout inspired by Pop!_OS"
              downloadLink="https://images.fyralabs.com/isos/ultramarine/37/ultramarine-plasma-aarch64-20230106.iso" />
          </div>
        </div>
      </div>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" />
    </div>
</BaseLayout>


