<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">I Tawt I Taw A Purdy Desktop</h2>
                <hr class="light">
                <p>That's right. That's literally <a href="https://github.com/solus-project/budgie-desktop">what the desciption says on GitHub</a></p>
                <p class="text-faded">
                    Budgie Desktop is the default Desktop Environment for Solus. It is based on GNOME and GTK technologies and heavily relies on GNOME libraries.
                </p>
                <p class="text-faded">We see that the Budgie Desktop has not been provided support on Fedora, hence we decided to take them into our own hands and create a version of Ultramarine Linux with Budgie.</p>
                <a href="https://gitlab.ultramarine-linux.org/release-engineering/build-scripts/-/releases" class="btn btn-default btn-xl">See Releases</a>
            </div>
        </div>
    </div>
</section>