---
import Discord from "~icons/simple-icons/discord";
import GitHub from "~icons/simple-icons/github";
import Twitter from "~icons/simple-icons/twitter";
import Mastodon from "~icons/simple-icons/mastodon";
import Bluesky from "~icons/simple-icons/bluesky";
import Reddit from "~icons/simple-icons/reddit";
import UltramarineAltLogo from "./icons/UltramarineAltLogo.svg";
---

<footer class="p-6 md:pt-12 pb-8 w-full bg-gray-900 z-50">
  <div
    class="container max-w-(--breakpoint-2xl) mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-6 text-sm"
  >
    <div class="sm:col-span-3 flex flex-col gap-2">
      <a href="/" class="flex items-start gap-2">
        <UltramarineAltLogo class="h-6 w-6 pt-1" />
        <span class="font-bold text-xl">Ultramarine Linux</span>
      </a>
      <p class="text-gray-400 max-w-lg">
        Ultramarine is a modern operating system that lets you just do your
        thing with the hardware and tools you already love.
      </p>
    </div>
    <div class="flex flex-col gap-1">
      <h1 class="font-bold">Pages</h1>
      <a href="/" class="text-muted-foreground">Home</a>
      <a href="/download" class="text-muted-foreground">Download</a>
      <a href="/community" class="text-muted-foreground">Community</a>
      <a
        href="https://blog.fyralabs.com/"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">Blog</a
      >
    </div>
    <div class="flex flex-col gap-1">
      <h1 class="font-bold">Resources</h1>
      <a
        href="https://wiki.ultramarine-linux.org/en/welcome"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">Documentation</a
      >
      <a
        href="https://wiki.ultramarine-linux.org/en/contributing/contributorguide/"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">Contribute</a
      >
      <a
        href="https://fyralabs.com/contact"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">Contact</a
      >
    </div>
    <div class="flex flex-col gap-1">
      <h1 class="font-bold">Extras</h1>
      <a
        href="https://github.com/sponsors/FyraLabs"
        target="_blank"
        rel="noopener noreferrer"
        class="text-muted-foreground">Sponsor</a
      >
      <a
        href="https://fyralabs.com"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">Fyra Labs Website</a
      >
      <a
        href="https://fyralabs.com/merch"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">Merch Shop</a
      >
      <a href="/licenses" class="text-muted-foreground"
        >License Notice & Credits</a
      >
    </div>
  </div>
  <div
    class="container max-w-(--breakpoint-2xl) mx-auto sm:pr-16 mt-10 text-sm text-gray-500 dark:text-gray-400 flex flex-col sm:flex-row justify-between items-center gap-4"
  >
    <div class="text-center sm:text-left">
      © 2021 - {new Date().getFullYear()} Fyra Labs. All rights reserved.
    </div>
    <div class="flex items-center gap-4 sm:ml-auto">
      <a
        href="https://github.com/ultramarine-linux"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <GitHub className="w-5 h-5" />
        <span class="hidden">Ultramarine Github Repo</span>
      </a>
      <a
        href="https://fyralabs.com/discord"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Discord"
      >
        <Discord className="w-5 h-5" />
        <span class="hidden">Ultramarine and Fyra Labs Discord community</span>
      </a>
      <a
        href="https://x.com/UltramarineProj"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Twitter"
      >
        <Twitter className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Twitter</span>
      </a>
      <a
        href="https://fedi.fyralabs.com/@ultramarine"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Mastodon"
      >
        <Mastodon className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Mastodon</span>
      </a>
      <a
        href="https://bsky.app/profile/ultramarine-linux.org"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Bluesky"
      >
        <Bluesky className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Bluesky</span>
      </a>
      <a
        href="https://www.reddit.com/r/ultramarine"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Reddit"
      >
        <Reddit className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Subreddit</span>
      </a>
    </div>
  </div>
</footer>
