---
import Discord from "~icons/simple-icons/discord";
import GitHub from "~icons/simple-icons/github";
import Twitter from "~icons/simple-icons/twitter";
import Mastodon from "~icons/simple-icons/mastodon";
import Bluesky from "~icons/simple-icons/bluesky";
import Reddit from "~icons/simple-icons/reddit";
import UltramarineAltLogo from "./icons/UltramarineAltLogo.svg";
import { Image } from "astro:assets";
import eepymizuki from "../assets/mizuki-sleepy.webp";
import { makeT } from "../i18n.ts";
const t = makeT(Astro.params.lang ?? "en");
---

<footer class="p-6 md:pt-12 pb-8 w-full bg-gray-900 z-50">
  <div
    class="container max-w-(--breakpoint-2xl) mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-6 gap-6 text-sm"
  >
    <div class="sm:col-span-3 flex flex-col gap-2">
      <a href="/" class="flex items-start gap-2">
        <UltramarineAltLogo class="h-6 w-6 pt-1" />
        <span class="font-bold text-xl">{t("footer.siteName")}</span>
      </a>
      <p class="text-gray-400 max-w-lg">
        {t("footer.description")}
      </p>
    </div>
    <div class="flex flex-col gap-1">
      <h1 class="font-bold">{t("footer.pages")}</h1>
      <a href="/" class="text-muted-foreground">{t("footer.home")}</a>
      <a href="/download" class="text-muted-foreground"
        >{t("footer.download")}</a
      >
      <a href="/community" class="text-muted-foreground"
        >{t("footer.community")}</a
      >
      <a
        href="https://blog.fyralabs.com/"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">{t("footer.blog")}</a
      >
    </div>
    <div class="flex flex-col gap-1">
      <h1 class="font-bold">{t("footer.resources")}</h1>
      <a
        href="https://wiki.ultramarine-linux.org/en/welcome"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">{t("footer.documentation")}</a
      >
      <a
        href="https://wiki.ultramarine-linux.org/en/contributing/contributorguide/"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">{t("footer.contribute")}</a
      >
      <a
        href="https://fyralabs.com/contact"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">{t("footer.contact")}</a
      >
    </div>
    <div class="flex flex-col gap-1">
      <h1 class="font-bold">{t("footer.extras")}</h1>
      <a
        href="https://github.com/sponsors/FyraLabs"
        target="_blank"
        rel="noopener noreferrer"
        class="text-muted-foreground">{t("footer.sponsor")}</a
      >
      <a
        href="https://fyralabs.com"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">{t("footer.fyraLabsWebsite")}</a
      >
      <a
        href="https://fyralabs.com/merch"
        target="_blank"
        rel="noopener"
        class="text-muted-foreground">{t("footer.merchShop")}</a
      >
      <a href="/licenses" class="text-muted-foreground"
        >{t("footer.licenseNotice")}</a
      >
    </div>
  </div>
  <div
    class="container max-w-(--breakpoint-2xl) mx-auto sm:pr-16 mt-10 text-sm text-gray-500 dark:text-gray-400 flex flex-col sm:flex-row justify-between items-center gap-4"
  >
    <div class="text-center sm:text-left">
      {t("footer.copyright", { year: new Date().getFullYear() })}
    </div>
    <div class="flex items-center gap-4 sm:ml-auto">
      <a
        href="https://github.com/ultramarine-linux"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="GitHub"
      >
        <GitHub className="w-5 h-5" />
        <span class="hidden">Ultramarine Github Repo</span>
      </a>
      <a
        href="https://fyralabs.com/discord"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Discord"
      >
        <Discord className="w-5 h-5" />
        <span class="hidden">Ultramarine and Fyra Labs Discord community</span>
      </a>
      <a
        href="https://x.com/UltramarineProj"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Twitter"
      >
        <Twitter className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Twitter</span>
      </a>
      <a
        href="https://fedi.fyralabs.com/@ultramarine"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Mastodon"
      >
        <Mastodon className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Mastodon</span>
      </a>
      <a
        href="https://bsky.app/profile/ultramarine-linux.org"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Bluesky"
      >
        <Bluesky className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Bluesky</span>
      </a>
      <a
        href="https://www.reddit.com/r/ultramarine"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Reddit"
      >
        <Reddit className="w-5 h-5" />
        <span class="hidden">Ultramarine Linux Subreddit</span>
      </a>
    </div>
  </div>
  <div id="eepy" class="flex justify-center mt-25">
    <Image
      id="mizuki"
      src={eepymizuki}
      alt={"Mizuki, the mascot of Ultramarine, sleeping"}
      class="w-full md:w-auto md:h-60 md:rounded-r-xl scale-100 z-10"
      loading="eager"
      layout="constrained"
    />
  </div>
</footer>
