---
import UltramarineAltLogo from "./icons/UltramarineAltLogo.astro";
import DownloadIcon from "./icons/DownloadIcon.tsx";
---

<header
  id="nav"
  class="w-full text-gray-600 dark:text-gray-100 sticky top-0 z-50 bg-clip-padding bg-gray-100 bg-opacity-30 dark:bg-gray-950 dark:bg-opacity-40 backdrop-filter backdrop-blur-xl"
>
  <div
    class="flex flex-row justify-between items-center px-6 md:px-16 py-5 mx-auto max-w-(--breakpoint-2xl)"
  >
    <div class="flex flex-row items-center">
      <a
        href="/"
        class="hover:text-accent-500 transition-colors duration-300 cursor-pointer"
      >
        <div class="relative">
          <span class="font-bold text-xl">Ultramarine</span>
          <div class="absolute -top-1 -right-6">
            <UltramarineAltLogo />
          </div>
        </div>
      </a>
    </div>
    <div class="flex flex-row items-center gap-8">
      <a
        href="https://wiki.ultramarine-linux.org/en/welcome/"
        class="hover:text-accent-500 transition-colors duration-300">Wiki</a
      >
      <a
        href="/community"
        class="hidden lg:block hover:text-accent-500 transition-colors duration-300"
        >Community</a
      >
      <a
        href="https://blog.fyralabs.com"
        class="hidden lg:block hover:text-accent-500 transition-colors duration-300"
        >Blog</a
      >
      <a
        href="https://fyralabs.com/merch"
        class="hidden lg:block hover:text-accent-500 transition-colors duration-300"
        >Merch</a
      >
      <a
        href="/download"
        class="hidden lg:flex flex-row gap-2 items-center text-white font-medium py-2 px-6 rounded-xl bg-accent-600 hover:bg-accent-700 transition-colors"
      >
        <DownloadIcon />
        Download
      </a>
    </div>
  </div>
</header>
