---
---

<header
  id="nav"
  class="flex flex-row justify-between items-center max-w-screen-2xl px-6 md:px-16 py-4 mx-auto text-gray-600 dark:text-gray-200 sticky top-0 z-50 bg-clip-padding bg-gray-100 bg-opacity-30 dark:bg-gray-900 dark:bg-opacity-40 backdrop-filter backdrop-blur-xl"
>
  <div class="flex flex-row items-center gap-8">
    <a
      href="/"
      class="flex flex-row items-center font-bold hover:text-blue-600 dark:hover:text-blue-200"
    >
      <div class="w-11 h-auto mr-2">
        <svg id="svg5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 224 224"
          ><defs
            ><style>
              .cls-1 {
                fill: #00078f;
                fill-rule: evenodd;
              }
              .cls-2 {
                fill: #fdfdff;
              }
            </style>
          </defs><g id="layer1"
            ><g id="surface85753"
              ><path
                id="path1984"
                class="cls-1"
                d="M112,0A112,112,0,1,1,0,112,112,112,0,0,1,112,0"
                transform="translate(0 0)"></path><path
                id="path1986"
                class="cls-2"
                d="M206.49,147.8c-16.67-3.84-33-9.53-44.13-16C131.85,114,121.29,75.15,78.26,89.6c34,39.65-23,52-61.64,55.76a101,101,0,0,0,189.87,2.44"
                transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </a>
    <a
      href="https://wiki.ultramarine-linux.org"
      class="hover:text-blue-600 dark:hover:text-blue-500"
      target="_blank"
      rel="noopener noreferrer"
      >Wiki
    </a>
    <a
      href="https://github.com/Ultramarine-Linux/ultramarine-pkgs"
      class="hover:text-blue-600 dark:hover:text-blue-500 md:block hidden"
      target="_blank"
      rel="noopener noreferrer"
      >Packages
    </a>
  </div>
  <div
    class="links-right flex flex-row gap-8 justify-center align-middle items-center font-semibold"
  >
      <button
        id="themeswitch"
        class=" hover:text-blue-600 dark:hover:text-blue-500"
        onclick="setTheme()"
      >
      </button>

    <a
      href="https://discord.gg/5fdPuxTg5Q"
      class="fab fa-discord text-2xl hover:text-blue-600 dark:hover:text-blue-500"
      aria-label="Ultramarine Discord link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="hidden">Ultramarine Discord server</span>
    </a>
    <a
      href="https://twitter.com/UltramarineProj"
      class="fab fa-twitter text-2xl hover:text-blue-600 dark:hover:text-blue-500"
      aria-label="Ultramarine Linux Twitter link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="hidden">Ultramarine Linux Twitter</span>
    </a>
    <a
      href="https://fedi.fyralabs.com/@ultramarine"
      class="fab fa-mastodon text-2xl hover:text-blue-600 dark:hover:text-blue-500"
      aria-label="Ultramarine Linux Mastodon link"
      target="_blank"
      rel="noopener noreferrer me"
    >
      <span class="hidden">Ultramarine Linux Mastodon</span>
    </a>
    <a
      href="https://github.com/ultramarine-linux"
      class="fab fa-github text-2xl hover:text-blue-600 dark:hover:text-blue-500"
      aria-label="Ultramarine Linux Github link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="hidden">Ultramarine Linux Github</span>
    </a>
    <a
      href="/download"
      class="md:block hidden bg-blue-600 hover:bg-blue-700 text-gray-50 px-6 py-2 rounded-[24px]"
      >Download</a
    >
  </div>
</header>

<script setup lang="ts">
var sun = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high-fill" viewBox="0 0 16 16">
  <path d="M12 8a4 4 0 1 1-8 0 4 4 0 0 1 8 0M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708"/>
</svg>`
var moon = `<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-fill" viewBox="0 0 16 16">
  <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
</svg>`
var themeswitch = document.getElementById("themeswitch")

if (window.localStorage.getItem("theme") == "dark") {
  themeswitch.innerHTML = moon
  document.documentElement.classList.add("dark")
} else {
  themeswitch.innerHTML = sun
  document.documentElement.classList.remove("dark")
}

const setTheme = () => {
  if (window.localStorage.getItem("theme") === "dark") {
    document.documentElement.classList.remove("dark");
    window.localStorage.setItem("theme", "light");
    themeswitch.innerHTML = sun
  }
  else {
    document.documentElement.classList.add("dark");
    window.localStorage.setItem("theme", "dark");
    themeswitch.innerHTML = moon
  }
}
</script>
