<button
  class="w-full h-full flex flex-row items-center justify-center px-4 py-2 mr-2 border-2 bg-blue-500 rounded-lg text-gray-50 hover:bg-blue-700 border-blue-500 hover:border-blue-700"
>
  <slot />
</button>
