---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.tsx";

import { makeT } from "../i18n";
const t = makeT(Astro.params.lang);
const { lang = "en" } = Astro.params;
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={t("site.title")} description={t("site.description")} />
  </head>
  <body class="dark">
    <div
      class="min-h-screen text-[#1b1b1f] bg-gray-100 dark:text-gray-100 dark:bg-gray-950"
    >
      <Header client:load currentLang={lang} />
      <div class="mx-auto">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
