---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="dark">
    <div
      class="min-h-screen text-[#1b1b1f] bg-gray-100 dark:text-gray-100 dark:bg-gray-950"
    >
      <Header client:load />
      <div class="mx-auto">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
